process {
    withName: 'GATK4_GENOMICSDBIMPORT' {
        ext.args   = '--genomicsdb-shared-posixfs-optimizations true --bypass-feature-reader'
        ext.prefix = { "${meta.intervals_name}.joint" }
    }
    withName: 'GATK4_GENOTYPEGVCFS' {
        ext.prefix = { "${meta.intervals_name}" }
    }
    withName: 'MERGE_GENOTYPEGVCFS' {
        ext.prefix = 'joint_germline'
    }
}
